---
---

html {
  font: 20px serif;
}

body {
  line-height: 1;
  margin: 0 auto;
  max-width: 40rem;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

@for $i from 1 through 3 {
  h#{$i} {
    font-size: 2rem - (1 - $i) * .2rem;
    font-weight: normal;
  }
}

h1 {
  border-bottom: solid .2rem rgb(255, 63, 0);
  padding: .5rem;
  position: relative;
  &::before {
    border-bottom: solid .2rem rgb(255, 127, 63);
    bottom: -.2rem;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5rem;
  }
}

ol {
  padding-left: 2rem;
}

pre code {
  display: block;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding-left: 2rem;
}
