---
---

html {
  font: 20px serif;
}

body {
  line-height: 1;
  margin: 0 auto;
  max-width: 40rem;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

$headline-border-colors: rgb(255, 63, 0), rgb(0, 255, 63), rgb(63, 255, 127);
$headline-before-border-colors: rgb(255, 127, 63), rgb(63, 255, 127), rgb(127, 63, 255);

@for $i from 1 through 3 {
  h#{$i} {
    border-bottom: solid .2rem nth($headline-border-colors, $i);
    font-size: 2rem - ($i - 1) * .2rem;
    font-weight: normal;
    padding: .5rem;
    position: relative;
    &::before {
      border-bottom: solid .2rem nth($headline-before-border-colors, $i);
      bottom: -.2rem;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 10rem;
    }
  }
}

ol {
  padding-left: 2rem;
}

pre code {
  display: block;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding-left: 2rem;
}
